{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/typescript"
    
    // ["env", {
    //   "modules": false
    // }],
  ],
  "plugins": ["@babel/plugin-proposal-function-bind",]
}

